version: '3.5'

services:

{% for i in range(1, ZOOKEEPER_NODE_NUM+1) %}
  zookeeper_{{ i }}:
    image: zookeeper:{{ ZOOKEEPER_IMAGE_TAG }}
    container_name: zookeeper_{{ i }}
    restart: always
    hostname: zookeeper_{{ i }}
    ports: 
      - {{ ZOOKEEPER_PORT - 1 + i }}:2181
    environment:
      ZOO_MY_ID: {{ i }}
      ZOO_SERVERS: {% for si in range(1, ZOOKEEPER_NODE_NUM+1) %}{% if si == i %}server.{{ si }}=0.0.0.0:2888:3888;2181{% else %}server.{{ si }}=zookeeper_{{ si }}:2888:3888;2181{% endif %} {% endfor %}
 
    networks:
      - {{ ZOOKEEPER_NETWORK }}

{% endfor %}

networks:
  {{ ZOOKEEPER_NETWORK }}:
    name: {{ ZOOKEEPER_NETWORK }}
